@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: font-inter;
  src: url('./../fonts/Inter-VariableFont_slnt\,wght.ttf');
}

html,
body {
  font-family: font-inter;
}